<mat-toolbar>
    <mat-toolbar-row>
      <span>FarmShop</span>
      <div>
        <a mat-button [routerLink] = "'/home/market'">Market</a>
        <a mat-button [routerLink] = "'/home/new-product'">Novo produto</a>
        <a mat-button [routerLink] = "'/home/my-products'">Meus produtos</a>
        <a mat-button [routerLink] = "'/home/config'">Configurações</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class = "container-fluid">
    <router-outlet></router-outlet>
  </div>
  