<div class = "login-wrapper">
    <form class = "login">
        <section class = "title">
            <h3 class = "welcome"> Bem vindo ao Vegan Market</h3>
            <p class = "hint"> Utilise seu nome para fazer login no sistema! :)</p>
        </section>
        <div class = "login-group">
            <mat-form-field style = "width: 100%;">
                <mat-label>Nome do Usuario</mat-label>
                <input matInput name="nome" [(ngModel)]="nome" >
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Senha</mat-label>
                <input matInput name="senha" [(ngModel)]="senha">
            </mat-form-field>
            <div class="error active" *ngIf="authInvalido">
                Nome de usuario ou senha invalida!
            </div>
            <button mat-raised-button (click)="auth()">Entrar</button>
        </div>
    </form>
</div>
